* {
    margin: 0;
    padding: 0;
}

.bg-color {
    background-color: white;
}

.img-logo {
    max-width: 200px;
    height: auto;
    margin-left: 2rem;
}

.nav-enlaces {
    max-width: 20%;
    height: auto;
    margin-right: 2rem;
}

.nav-item {
    padding: 1rem;
}

.container-fluid a {
    color: #6FAD48
}


h1 {
    color: rgb(60, 136, 60);
    margin-top: 10px;
}

h2 {
    color: rgb(60, 136, 60);
    margin-top: 10px;
}


/*footer*/

footer {
    font-family: "Mifuente", Arial, sans-serif;
    background-color: white;
    color: black;
    padding: 1px;
    font-size: 15px;
    border-top: 2px solid black;
    margin-top: 10px;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-buttons a {
    margin: 5px;
}

.social-buttons img {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 40px
}

.copyright {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}