footer {
    font-family: "Mifuente", Arial, sans-serif;
    background-color: white;
    color: black;
    padding: 1px;
    font-size: 15px;
    border-top: 2px solid black;
    margin-top: 10px;
}

.social-buttons {
    display: flex;
    justify-content: center;

    a {
        margin: 5px;
    }

    img {
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 40px
    }
}

.copyright {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}