@mixin estilosFooter ($family, $bg-color, $color, $padding, $size, $border, $margin) {
    font-family: $family;
    background-color: $bg-color;
    color: $color;
    padding: $padding;
    font-size: $size;
    border-top: $border;
    margin-top: $margin;
}


footer {

    @include estilosFooter(Arial, white, black, 1px, 17px, 2px solid black, 10px);

    .social-buttons {
        display: flex;
        justify-content: center;
    
        a {
            margin: 5px;        
    
            img {
                text-align: center;
                margin-top: 2px;
                margin-bottom: 2px;
                width: 40px
            }
        }
    }
    
    .copyright {
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

