header {
    .bg-color {
        background-color: white;
    }

    .img-logo {
        max-width: 200px;
        height: auto;
        margin-left: 2rem;
    }

    .nav-enlaces {
        max-width: 20%;
        height: auto;
        margin-right: 2rem;
    }

    .nav-item {
        padding: 1rem;
    }

    .container-fluid a {
        color: #6FAD48
    }
}
