header {

    .bg-color {
        background-color: white;
    }
    
    nav {
        .container-fluid {
            a {
                .img-logo {
                    max-width: 200px;
                    height: auto;
                    margin-left: 2rem;
                }

            }

            ul {
                .nav-item {
                    a {
                        color: #6DAE46;           
                    }
                    padding: 1rem;
                    max-width: 20%;
                    height: auto;
                    margin-right: 2rem;
                }
            }
        }
    }     
}


