$color-h: #6DAE46;
$margin-h: 10px;
$size: 30px;
$family: Arial, Helvetica, sans-serif;


h1 {
    font-family: $family;
    font-size: $size;
    color: $color-h;
    margin-top: $margin-h;
}

h2 {
    @extend h1;
}